<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../shared-styles.html">

<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../../bower_components/google-feeds/google-feeds.html">

<link rel="import" href="./fk08-news-entrie.html">

<dom-module id="fk08-news-view">
    <template>
        <style include="shared-styles">
            :host {
                display: block;
                padding: 10px;
            }
            
            paper-card {
                width: 100%;
                margin-top: 10px;
                padding: 5px;
            }
            
            section {
                border-bottom: 1px solid lightgray;
            }
        </style>

        <template is="dom-repeat" items="{{feedUrls}}" as="url">
            <google-feeds feed="{{url}}" results='{{result}}'></google-feeds>
            <paper-card heading="{{result.title}}">
                <template is="dom-repeat" items="{{result.entries}}">
                    <section>
                        <h4><a href="{{item.link}}">{{item.title}}</a></h4>
                        <fk08-news-entrie entrie="{{item.content}}"></fk08-news-entrie>
                    </section>
                </template>
            </paper-card>
        </template>
    </template>

    <script>
        Polymer({
            is: 'fk08-news-view',

            properties: {
                feedUrls: {
                    type: Array,
                    value: [
                        'https://fachschaft08.de/index.php/feed/',
                        'http://www.geo.hm.edu/2/aktuelles/rssfeeds/rss_schwarzesbrett.de.xml',
                    ],
                    notify: true,
                }
            },

            ready: function() {
                // this.feedUrls = ['bla', 'blub'];
            },
        });
    </script>
</dom-module>