<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../shared-styles.html">

<link rel="import" href="../../bower_components/paper-card/paper-card.html">

<dom-module id="fk08-mvv-element">
	<template>
		<style include="shared-styles">
			:host {
				display: block;
				padding: 10px;
			}
			
			paper-card {
				width: 100%;
				--paper-card-header-color: white;
				--paper-card-header: {
					background-color: #4562a2;
				}
				;
			}
			
			.body {
				margin: 5px;
			}
		</style>


		<paper-card heading="MVV Element">
			<div class="body">
                Das ist ein Test
			</div>
		</paper-card>
	</template>

	<script>
    Polymer({
      is: 'fk08-mvv-element',

      properties: {
          date: {
            type: Object,
            value: new Date(),
          }
      },
    });
  </script>
</dom-module>