<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../shared-styles.html">

<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="fk08-events-view">
    <template>
        <style>
            :host {}
        </style>

        <!--TODO: CORS-header present -->
        <iron-ajax url="http://stuve.hm.edu/veranstaltungen/kategorie/hm/?ical=1&tribe_display=month" last-responde="{{res}}" handle-as="text"
            auto></iron-ajax>

        {{res}}
    </template>

    <script>
        Polymer({
            is: 'fk08-events-view',

            properties: {
                res: {
                    type: Object,
                    observer: 'test',
                },
            },

            test: function(event) {
                console.log('Events:', event);
            },
        });
    </script>
</dom-module>