<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../shared-styles.html">

<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="./fk08-mensa-data.html">

<dom-module id="fk08-mensa-element">
	<template>
		<style include="shared-styles">
			:host {
				display: block;
				padding: 10px;
			}
			
			paper-card {
				width: 100%;
				--paper-card-header-color: white;
				--paper-card-header: {
					background-color: #76AD40;
				}
				;
			}
			
			.body {
				margin: 5px;
			}
		</style>

		<fk08-mensa-data meals="{{meals}}" date="{{date}}" is-empty="{{isEmpty}}"></fk08-mensa-data>

		<paper-card heading="Mensa Element">
			<div class="body">
				<p hidden="{{!isEmpty}}">Heute hat die Mensa geschlossen.</p>
				<template is="dom-repeat" items="{{meals}}">
					<h4>
						{{item.category}}
					</h4>
					<p>
						{{item.name}}
					</p>
				</template>
			</div>
		</paper-card>
	</template>

	<script>
    Polymer({
      is: 'fk08-mensa-element',

      properties: {
          date: {
            type: Object,
            value: new Date(),
          }
      },
    });
  </script>
</dom-module>