<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../shared-styles.html">

<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="./fk08-mensa-data.html">

<dom-module id="fk08-mensa-view">
	<template>
		<style include="shared-styles">
			:host {
				display: block;
				padding: 10px;
			}

            paper-card {
                width: 100%;
                margin-top: 10px;
            }

            .body {
                margin: 5px;
            }

            .noData {
                color: gray;
                text-align: center;
            }
		</style>


		<paper-tabs selected="{{selected}}" scrollable>
			<template is="dom-repeat" items="{{days}}">
				<paper-tab>{{_getNameFromDate(item)}}</paper-tab>
			</template>
		</paper-tabs>

		<iron-pages selected="{{selected}}">
			<template is="dom-repeat" items="{{days}}">
				<div>
					<fk08-mensa-data date="{{item}}" meals="{{item.meals}}" is-empty="{{item.isEmpty}}"></fk08-mensa-data>
					<p hidden="{{!item.isEmpty}}" class="noData">Für diesen Tag sind leider keine Daten verfügbar.</p>
					<template is="dom-repeat" items="{{item.meals}}">
						<paper-card heading="{{item.category}}">
							<div class="body">
								<p>{{item.name}}</p>
							</div>
						</paper-card>
					</template>
				</div>
			</template>
		</iron-pages>
	</template>

	<script>
    Polymer({
      is: 'fk08-mensa-view',

      properties: {
          selected: {
              type: Number,
              value: 0,
          },
          days: {
              type: Array,
              value: [],
          }
      },

      ready: function() {
          // Populate days Array
          for (var i = 0; i < 7; i++) {
              var today = new Date();
              today.setDate(today.getDate() + i);
              this.push('days', today);
          }

          console.log('Days:', this.days);
      },

      _getNameFromDate(date) {
          const days = ['SO', 'MO', 'DI', 'MI', 'DO', 'FR', 'SA'];

          return days[date.getDay()];
      }
    });
  </script>
</dom-module>